<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="myDockerMySqlDataSource" class="org.ggyool.toby.mydatasource.MyDockerMySqlDataSource" />
  <bean id="myH2DataSource" class="org.ggyool.toby.mydatasource.MyH2DataSource" />
  <bean id="myDataSourceCounter" class="org.ggyool.toby.mydatasource.MyDataSourceCounter">
    <property name="dataSource" ref="myDockerMySqlDataSource" />
  </bean>

  <bean id="userDao" class="org.ggyool.toby.user.dao.UserDao">
    <property name="dataSourceCounter" ref="myDataSourceCounter" />
  </bean>

</beans>